<template>
  {{ data.randomInteger }}
</template>

<script>
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      data: []
    };
  },
  async created() {
    try {
      const response = await axios.get(`https://127.0.0.1:8000/lucky/number/10`);

      this.data = response.data;
    } catch (e) {
      console.error(e);
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
